:root {
  --gray-f4: #f4f4f4;
  --gray-ddd: #ddd;
  --gray-aaa: #aaa;
  --gray-666: #666;
  --gray-444: #444;

  --space-xs: 0.36em;
  --space-sm: 0.6em;
  --space-md: 1.28em;
  /* 40 matches offset in traingle.cljs */
  --space-40: 40px;

  --transition-fast: 90ms;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
::selection {
  background: none;
  color: inherit;
}
body {
  font-family: monospace;
  color: var(--gray-aaa);
  font-size: 0.84em;
  letter-spacing: 0.02em;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
p {
  margin: 0.8em 0 0.8em;
}
a {
  display: inline-block;
  padding: var(--space-xs) var(--space-sm);
  cursor: pointer;
  transition: all var(--transition-fast);
}
a:hover {
  color: var(--gray-666);
}
a.box-button {
  border: 1px solid var(--gray-ddd);
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}
a.box-button:hover {
  border: 1px solid var(--gray-aaa);
}
a.inactive {
  cursor: not-allowed;
  opacity: 0.6;
}
a.box-button.inactive:hover {
  color: inherit;
  border: 1px solid var(--gray-ddd);
}

div.pre-canvas {
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: var(--space-40);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.post-canvas {
  height: var(--space-40);
  flex-shrink: 0;
}

div.switcher {
  margin-left: calc(-1 * var(--space-sm));
}
div.switcher a {
  /* color: var(--gray-aaa); */
}
div.switcher a:hover {
  /* color: var(--gray-666); */
}
div.switcher a.is-active {
  color: var(--gray-444);
}
div.switcher a.is-active:hover {
  color: var(--gray-444);
  cursor: default;
}
div.controls-post-canvas-left {
  position: absolute;
  bottom: 0;
  left: 2.5%;
  height: var(--space-40);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.controls-post-canvas-right {
  position: absolute;
  bottom: 0;
  right: 2.5%;
  height: var(--space-40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

div.canvas-container {
  position: relative;
  flex: 1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
div.canvas-inner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
canvas {
  max-height: 100%;
  max-width: 100% !important;
  background: var(--gray-f4);
}
