html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
p {
  margin: 0.8em 0 0.8em;
  font-family: monospace;
  color: #aaa;
  font-size: 0.84em;
  letter-spacing: 0.02em;
}
div.pre-canvas {
  float: right;
  padding-right: 2.5%;
  text-align: right;
  /* 40 matches offset in traingle.cljs */
  height: 40px;
}
div.canvas-container {
  flex: 1;
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
canvas {
  background: #f4f4f4;
  max-height: 100%;
  max-width: 100% !important;
}
